* { box-sizing: border-box; }

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  overflow: hidden;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
}

#root {
  flex: 1;
  display:grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  grid-row: auto auto;
}

#root canvas{
  position: absolute;
  top:0;
  left:0
}

#dropModal{
  display: none;
  position: fixed;
  top: 0; left:0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

.box{
  position: relative;
  overflow: hidden;
  background-color:#333;
  font-family:sans-serif;
}

.box:nth-child(2),.box:nth-child(3){
  background-color: #666;
}

.box > .boxInfo{
  position: absolute;
  top: 0; left: 50%;
  text-align: center;
  z-index: 1;
}
.box > .boxInfo b{
  display: inline-block;
  padding: 2px 4px;
  border-radius: 3px;
  background-color: rgba(200,200,200,0.5);
  margin-left: -50%;
}

.formRow{
  display: flex;
}
.formRow label{
  display: inline-block;
  width: 55px;
}
.formRow label:first-child{
  width: 55px;
}
.cameraNum{
  width: 55px;
}

jscadui-gizmo{
  position: absolute;
  top: 0; right: 0;
  --cube-size: 100px;
/*  --cube-line-color: #666;
  --cube-z-color: #00a;
  --cube-x-color: #900;
  --cube-y-color: #090;
  --cube-bg: #222;
  --cube-fg: #aaa;
  --cube-bg-hover: #444;
  --cube-fg-hover: #aaa;
  --cube-corner-radius: 5px;*/
}

jscadui-gizmo::part(face){
}