* {
  box-sizing: border-box;
}
body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
body {
  overflow: hidden;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
}
#root {
  flex: 1;
}

:root {
}

jscadui-gizmo {
  position: absolute;
  top: 0; left:0;
}

label { margin-right: 10px; }